body {
  background-color:rgb(207,10,44);
}
h1 {
  color: white;
}
p {
  color: white;
}



/*RGB Colors for blackhawks
'-------------------------
'white:rgb(255,255,255)
'red:rgb(207,10,44)
'orange:rgb(255,103,27)
'green:rgb(0,131,62)
'yellow:rgb(255,209,0)
'tan:rgb(209,138,0)
'blue:rgb(0,25,112)
'black:rgb(0,0,0)*/